@page
@model WebApplication1.Pages.Teachers.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Teacher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Teacher.Id" />
            <div class="form-group">
                <label asp-for="Teacher.FirstName" class="control-label"></label>
                <input asp-for="Teacher.FirstName" class="form-control" />
                <span asp-validation-for="Teacher.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.LastName" class="control-label"></label>
                <input asp-for="Teacher.LastName" class="form-control" />
                <span asp-validation-for="Teacher.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.Contact" class="control-label"></label>
                <input asp-for="Teacher.Contact" class="form-control" />
                <span asp-validation-for="Teacher.Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.Qualifications" class="control-label"></label>
                <input asp-for="Teacher.Qualifications" class="form-control" />
                <span asp-validation-for="Teacher.Qualifications" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.Address" class="control-label"></label>
                <input asp-for="Teacher.Address" class="form-control" />
                <span asp-validation-for="Teacher.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.Email" class="control-label"></label>
                <input asp-for="Teacher.Email" class="form-control" />
                <span asp-validation-for="Teacher.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.ClassesTaught" class="control-label"></label>
                <input asp-for="Teacher.ClassesTaught" class="form-control" />
                <span asp-validation-for="Teacher.ClassesTaught" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
